########################################################
#### Pairwise_tblastx requirements for python2 #####
########################################################
uuid>=1.30
biopython>=1.6
argparse>=1.4
